*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: normale
}

@font-face {
  src: url(./fonts/Girassol-Regular.ttf);
  font-family:titolo;
}

@font-face {
  src: url(./fonts/BalooPaaji2-Regular.ttf);
  font-family:normale;
}

@font-face {
  src: url(./fonts/OpenSansCondensed-Light.ttf);
  font-family:light;
}
@font-face {
  src: url(./fonts/marrenda.ttf);
  font-family:stiloso;
}
@font-face {
  src: url(./fonts/mono.ttf);
  font-family:monotono;
}

#contenitore{
  width: 100%;
  height: 942px;
}
#topper{
  position: absolute;
  height: 500px;
  width: 100%;
background: -webkit-linear-gradient(left, #30CFD0 0%, #330867 100%);
background: -o-linear-gradient(left, #30CFD0 0%, #330867 100%);
background: linear-gradient(to right, #30CFD0 0%, #330867  100%);
  border-bottom: solid #fda000 4px;
  -webkit-box-shadow: 0px 7px 34px -5px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 7px 34px -5px rgba(0,0,0,0.62);
box-shadow: 0px 7px 34px -5px rgba(0,0,0,0.62);
}
#divPath{
  font-size: 25px;
  animation-name: path-a;
  animation-duration: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  float: right;
}
#home{
  font-size: 30px;
  margin-top: 400px;
  position: absolute;
  margin-right: -100px;
  user-select: none;
  cursor: pointer;
  font-weight: lighter;
  text-decoration: none;
  color:white;
  transition: color;
  transition-duration: 0.5s;
  outline: none;
}
#in{
  color:#fda000;
  margin-top: 400px;
  margin-left: 90px;
  margin-right: 20px;
  user-select: none;
  pointer-events: none;
  font-weight: lighter;
  transition: color;
  transition-duration: 0.5s;
}
#hash{
  position: absolute;
  margin-top: 400px;
  margin-left: 80px;
  font-weight: lighter;
  user-select: none;
  pointer-events: none;
  color:white;
}
#divText{
  position: absolute;
  margin-top: 700px;
  margin-left:80px;
  user-select: none;
  pointer-events: none;
}
#text1{
  font-size: 65px;
  animation-name: text1-a;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  animation-delay: 1s;
  color:#474749;
}
#text2{
  margin-top: -50px;
  margin-left:835px;
  font-size: 40px;
  animation-name: text2-a;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  opacity: 0;
  font-size: 42px;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  font-family: light;
  user-select: none;
  pointer-events: none;
}

@keyframes text1-a {
  from{
    transform: translateX(300px);
    opacity: 0;
  }
  to{
    transform: translateX(610px);
    opacity: 1;
  }
}
@keyframes text2-a {
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: translateY(-36.5px);
    opacity: 1;
  }
}
@keyframes path-a {
  from{
    transform: translateY(20px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes opa {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes opa2 {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.3;
  }
}
#me{
  margin-top: 190px;
  float: left;
  animation-name: opa;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3.9s;
  user-select: none;
  pointer-events: none;
}
#divStile{
  position:absolute;
  height: 190px;
  width: 100%;
  margin-top: 765px;
  background-color: #e8e8e8;
  opacity: 0;
  animation-name: opa2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}
@media only screen and (max-width: 1280px) {
  body{
    overflow-x: hidden;
  }
  @keyframes text1-a {
    from{
      transform: translateX(100px);
      opacity: 0;
    }
    to{
      transform: translateX(290px);
      opacity: 1;
    }
  }
  @keyframes text2-a {
    from{
      transform: translateY(30px);
      opacity: 0;
    }
    to{
      transform: translateY(-36.5px);
      opacity: 1;
    }
  }
  #text2{
    margin-top: -50px;
    margin-left:535px;
    font-size: 40px;
    animation-name: text2-a;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    opacity: 0;
    font-size: 42px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    font-family: light;
    user-select: none;
    pointer-events: none;
  }
}
@media only screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  @keyframes text1-a {
    from{
      transform: translateX(100px);
      opacity: 0;
    }
    to{
      transform: translateX(240px);
      opacity: 1;
    }
  }
  @keyframes text2-a {
    from{
      transform: translateY(30px);
      opacity: 0;
    }
    to{
      transform: translateY(-36.5px);
      opacity: 1;
    }
  }
  #text1{
    margin-left:-50px;
  }
  #text2{
    margin-top: -50px;
    margin-left:430px;
    font-size: 40px;
    animation-name: text2-a;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    opacity: 0;
    font-size: 42px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    font-family: light;
    user-select: none;
    pointer-events: none;
  }
  #me{
    margin-top: 290px;
    float: left;
    animation-name: opa;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 3.9s;
    user-select: none;
    pointer-events: none;
    height: 300px
  }
}
